# MySql

**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

Database: A database is an organized collection of structured information or data that can be accessed, managed, and updated. It’s a structured way to store, organize, and retrieve data.

In [4]:
def print_table(data):
    """Prints a formatted table from the given data.
    Args:
        data (list): A list of lists, where each inner list represents a row of data.
    """
    # Find the maximum length of each column
    col_widths = [max(len(str(item)) for item in col) for col in zip(*data)]
    # Print the header row
    header = " | ".join(f"{item:<{width}}" for item, width in zip(data[0], col_widths))
    print(header)
    # Print the separator row
    separator = "-" * len(header)
    print(separator)
    # Print the table body
    for row in data[1:]:
        print(" | ".join(f"{item:<{width}}" for item, width in zip(row, col_widths)))

# Sample data
data = [
    ["Feature", "SQL Databases", "NoSQL Databases"],
    ["Structure", "Structured, tabular format", "Flexible, schema-less"],
    ["Data Types", "Primarily relational", "Key-value, document, graph, wide-column"],
    ["Scalability", "Vertical scaling (adding more resources to a single server)", "Horizontal scaling (adding more servers)"],
    ["Examples", "MySQL, PostgreSQL, Oracle", "MongoDB, Cassandra, Redis"]
]

# Print the table
print("\033[1m" + "SQL vs NoSQL Databases:" + "\033[0m")
print_table(data)

SQL vs NoSQL Databases:
Feature     | SQL Databases                                               | NoSQL Databases
--------------------------------------------------------------------------------------------------------------------
Structure   | Structured, tabular format                                  | Flexible, schema-less
Data Types  | Primarily relational                                        | Key-value, document, graph, wide-column
Scalability | Vertical scaling (adding more resources to a single server) | Horizontal scaling (adding more servers)
Examples    | MySQL, PostgreSQL, Oracle                                   | MongoDB, Cassandra, Redis

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

`CREATE TABLE` Customers (
    CustomerID `INT PRIMARY KEY`,
    CustomerName `VARCHAR(255)`,
    ContactName `VARCHAR(255)`,
    Address `VARCHAR(255)`,
    City `VARCHAR(255)`
);

*CREATE: Used to create database objects like tables, indexes, views, etc.*

`DROP TABLE` Customers;

*DROP: Used to delete database objects.*

`ALTER TABLE` Customers `ADD` Email `VARCHAR(255)`;

*ALTER: Used to modify the structure of an existing table.*

`TRUNCATE TABLE` Customers;

*TRUNCATE: Used to remove all data from a table, but the table structure remains.*

**Q4. What is DQL? Explain SELECT with an example.**

DQL (Data Query Language): A subset of SQL used to retrieve data from a database.

SELECT: Used to extract data from one or more tables.

`SELECT` CustomerName, ContactName `FROM`Customers;

**Q5. Explain Primary Key and Foreign Key.**

- Primary Key:It is a unique identifier for each record in a table. It cannot contain null values.
- Foreign Key: A column in one table that references the primary key of another table. It establishes a link between two tables.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="your_host",
  user="your_user",
  password="your_password",
  database="your_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mydb.close()

ModuleNotFoundError: No module named 'mysql'

**Q7. Give the order of execution of SQL clauses in an SQL query.**

The typical order of execution for SQL clauses is:

1. FROM: Specifies the table(s) to retrieve data from.
2. JOIN: Combines rows from two or more tables based on a related column.
3. WHERE: Filters rows based on specified conditions.
4. GROUP BY: Groups rows based on one or more columns.
5. HAVING: Filters groups based on specified conditions.   
6. SELECT: Specifies the columns to be returned.
7. ORDER BY: Sorts the result set.
8. LIMIT: Limits the number of rows returned.