# Pandas Basic

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.**

In [2]:
import pandas as pd

my_list = [i for i in range(1, 11)]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

![Data Frame](<Screenshot 2024-07-31 203807.png>)

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a two-dimensional labeled data structure with columns that can hold different data types (int, float, string, etc.). It is similar to a spreadsheet or SQL table.

A Series is a one-dimensional labeled array capable of holding any data type. It is essentially a column in a DataFrame.

In [4]:
import pandas as pd

# Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

# DataFrame
data = {'Name': ['Jack', 'Jhon', 'Jenny'],
        'Age': [21, 28, 25],
        'Gender': ['Male', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
    Name  Age  Gender
0   Jack   21    Male
1   Jhon   28    Male
2  Jenny   25  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions for manipulating data in a Pandas DataFrame are:

- head(): Displays the first few rows of the DataFrame.
- tail(): Displays the last few rows of the DataFrame.
- shape: Returns the number of rows and columns.
- describe(): Generates descriptive statistics.
- sort_values(): Sorts the DataFrame by specified columns.
- groupby(): Groups data based on one or more columns.
- fillna(): Fills missing values.

In [5]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Jack', 'Jhon', 'Jenny'],
        'Age': [21, 28, 25],
        'Gender': ['Male', 'Male', 'Female']}
df = pd.DataFrame(data)

# Fill missing value in the 'Age' column with the mean age
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

    Name  Age  Gender
0   Jack   21    Male
1   Jhon   28    Male
2  Jenny   25  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame is mutable in nature. This means you can modify its values after creation. Series and Panel are also mutable in terms of their values, but Panel is generally considered deprecated in newer pandas versions.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [2]:
import pandas as pd

series1 = pd.Series(['Alice', 'Bob', 'Claire'])
series2 = pd.Series([25, 30, 27])
series3 = pd.Series(['Female', 'Male', 'Female'])

data = {'Name': series1, 'Age': series2, 'Gender': series3}
df = pd.DataFrame(data)
print(df)

#In this example, we create three Pandas Series and then combine them into a DataFrame using a dictionary.

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female